#include <dt-bindings/media/xilinx-vip.h>

&amba_pl {
	cam2_iic: i2c@80200000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&gic>;
		interrupts = <0 92 4>;
		reg = <0x0 0x80200000 0x0 0x10000>;
		clocks = <&axi_lite_clk>;

		cam2_pca9534_0: gpio@20 {
			compatible = "nxp,pca9534";
			reg = <0x20>;
			gpio-controller;
			#gpio-cells = <2>;
		};
	
		cam2_mt9m114_0: mt9m114@48 {
			compatible = "mt9m114";
			reg = <0x48>;
		
			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					xlnx,video-format = <XVIP_VF_MONO_SENSOR>;
					xlnx,cfa-pattern = "rggb";
					xlnx,video-width = <8>;
					cam2_mt9m114_0_source: endpoint {
						remote-endpoint = <&cam2_cfa0_in>;
					};
				};
			};
		
		
		};
	};

	//TDnext_capture_2_tc_vdma_0: axivdma@80240000 {
	TDnext_capture_2_tc_vdma_0: dma@80240000 {
		compatible = "xlnx,axi-vdma-1.00.a";
		reg = <0x0 0x80240000 0x0 0x10000>;
		xlnx,flush-fsync = <1>;
		xlnx,num-fstores = <1>;
		xlnx,addrwidth = <0x20>;
		#dma-cells = <1>;
		clock-names = "s_axi_lite_aclk", "m_axi_mm2s_aclk", "m_axi_mm2s_aclk", "m_axi_s2mm_aclk", "m_axi_s2mm_aclk";
		clocks = <&axi_lite_clk>, <&axi_stream_clk>, <&axi_stream_clk>, <&axi_stream_clk>, <&axi_stream_clk>;

		dma-s2mmchannel@80240030 {
			compatible = "xlnx,axi-vdma-s2mm-channel";
			interrupt-parent = <&gic>;
			interrupts = <0 90 4>;
			xlnx,datawidth = <0x40>;
		};
	};

	//TDnext_capture_2_tc_v_cfa_0: cfa@80210000 {
	//	compatible = "xlnx,v-cfa-7.0";
	TDnext_capture_2_tc_v_cfa_0: v_cfa@80210000 {
		compatible = "xlnx,v-cfa-7.0";
		reg = <0x0 0x80210000 0x0 0x10000>;
		clocks = <&axi_stream_clk>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				xlnx,video-format = <XVIP_VF_MONO_SENSOR>;
				xlnx,cfa-pattern = "rggb";
				xlnx,video-width = <8>;

				cam2_cfa0_in: endpoint {
					remote-endpoint = <&cam2_mt9m114_0_source>;
				};
			};
			port@1 {
				reg = <1>;
				xlnx,video-format = <XVIP_VF_RBG>;
				xlnx,video-width = <8>;

				cam2_cfa0_out: endpoint {
					remote-endpoint = <&cam2_rgb2yuv1_in>;
				};
			};
		};
	};

	//TDnext_capture_2_tc_v_rgb2yuv_0: rgb2yuv@80220000 {
		//compatible = "xlnx,v-rgb2yuv-7.1";
	TDnext_capture_2_tc_v_rgb2ycrcb_0: v_rgb2ycrcb@80220000 {
		compatible = "xlnx,v-rgb2ycrcb-7.1";
		reg = <0x0 0x80220000 0x0 0x10000>;
		clocks = <&axi_stream_clk>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				xlnx,video-format = <XVIP_VF_RBG>;
				xlnx,video-width = <8>;

				cam2_rgb2yuv1_in: endpoint {
					remote-endpoint = <&cam2_cfa0_out>;
				};
			};
			port@1 {
				reg = <1>;
				xlnx,video-format = <XVIP_VF_YUV_444>;
				xlnx,video-width = <8>;

				cam2_rgb2yuv1_out: endpoint {
					remote-endpoint = <&cam2_cresample1_in>;
				};
			};
		};
	};

	//TDnext_capture_2_tc_cresample_0: cresample@80230000 {
	TDnext_capture_2_tc_v_cresample_0: v_cresample@80230000 {
		compatible = "xlnx,v-cresample-4.0";
		reg = <0x0 0x80230000 0x0 0x10000>;
		clocks = <&axi_stream_clk>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				xlnx,video-format = <XVIP_VF_YUV_444>;
				xlnx,video-width = <8>;

				cam2_cresample1_in: endpoint {
					remote-endpoint = <&cam2_rgb2yuv1_out>;
				};
			};
			port@1 {
				reg = <1>;
				xlnx,video-format = <XVIP_VF_YUV_422>;
				xlnx,video-width = <8>;

				cam2_cresample1_out: endpoint {
					remote-endpoint = <&cam2_vcap1_sink>;
				};
			};
		};
	};

	cam2_video_cap_1 {
		compatible = "xlnx,video";
		dmas = <&TDnext_capture_2_tc_vdma_0 0>;
		dma-names = "port0";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				direction = "input";
				vpipe-names = "mt9m114";
				cam2_vcap1_sink: endpoint {
					remote-endpoint = <&cam2_cresample1_out>;
				};
			};
		};
	};
};









